customerservice.json
[{"id":"7726f65a.c5c638","type":"websocket in","z":"f387e3e7.4de92","name":"","server":"4eecda72.e68e44","client":"","x":182.65001678466797,"y":143.14999771118164,"wires":[["e3d4f469.e9d0f8","72c769fd.aa0b28"]]},{"id":"85a10140.0dbd4","type":"function","z":"f387e3e7.4de92","name":"Broadcast Message","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":561.6500396728516,"y":338.15003299713135,"wires":[[]]},{"id":"e3d4f469.e9d0f8","type":"websocket out","z":"f387e3e7.4de92","name":"","server":"4eecda72.e68e44","client":"","x":536.4000473022461,"y":143.15000534057617,"wires":[]},{"id":"ad1683d8.cac68","type":"http in","z":"f387e3e7.4de92","name":"","url":"/chat","method":"get","x":178.15003967285156,"y":59.89999866485596,"wires":[["39493563.ad259a"]]},{"id":"39493563.ad259a","type":"template","z":"f387e3e7.4de92","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n    <script type=\"text/javascript\">\n\tvar wsUri, ws;\n\tfunction connect() {\n      wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n      ws    = new WebSocket(wsUri);\n    \n      function createSystemMessage(message) {\n        var message = document.createTextNode(message);\n    \n        var messageBox = document.createElement('p');\n        messageBox.className = 'system';\n    \n        messageBox.appendChild(message);\n    \n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n      }\n    \n      function createUserMessage(user, message) {\n        var user = document.createTextNode(user + ': ');\n    \n        var userBox = document.createElement('span');\n        userBox.className = 'username';\n        userBox.appendChild(user);\n    \n        var message = document.createTextNode(message);\n    \n        var messageBox = document.createElement('p');\n        messageBox.appendChild(userBox);\n        messageBox.appendChild(message);\n    \n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n      }\n    \n      ws.onopen = function(ev) {\n        createSystemMessage('[Connected]');\n      };\n    \n      ws.onclose = function(ev) {\n        createSystemMessage('[Disconnected]');\n\t\tsetTimeout(function() {\n\t\t  createSystemMessage('[Reconnecting]');\n\t\t  connect();\n\t\t}, 1000)\n      }\n    \n      ws.onmessage = function(ev) {\n        var payload = JSON.parse(ev.data);\n        createUserMessage(payload.user, payload.message);\n    \n        var chat = document.getElementById('chat_box');\n        chat.scrollTop = chat.scrollHeight;\n      }\n\t}\n\t\n\tconnect();\n    function sendMessage() {\n        var user = document.getElementById('user');\n        var message = document.getElementById('message');\n    \n        var payload = {\n          message: message.value,\n          user: user.value,\n          ts: (new Date()).getTime()\n        };\n    \n        ws.send(JSON.stringify(payload));\n        message.value = \"\";\n    };\n    \n    function enterMsg(event) {\n        event.preventDefault();\n        if (event.keyCode == 13) sendMessage();\n    };\n    </script>\n    <style type=\"text/css\">\n      * {\n        font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n        font-style: italic;\n        font-size: 24px;\n      }\n    \n      html, body, #wrapper {\n        margin: 0;\n        padding: 0;\n        height: 100%;\n      }\n    \n      #wrapper {\n        background-color: #ecf0f1;\n      }\n    \n      #chat_box {\n        box-sizing: border-box;\n        height: 100%;\n        overflow: auto;\n        padding-bottom: 50px;\n      }\n    \n      #footer {\n        box-sizing: border-box;\n        position: fixed;\n        bottom: 0;\n        height: 50px;\n        width: 100%;\n        background-color: #2980b9;\n      }\n    \n      #footer .content {\n        padding-top: 4px;\n        position: relative;\n      }\n    \n      #user { width: 20%; }\n      #message { width: 68%; }\n      #send_btn {\n        width: 10%;\n        position: absolute;\n        right: 0;\n        bottom: 0;\n        margin: 0;\n      }\n    \n      .content {\n        width: 70%;\n        margin: 0 auto;\n      }\n    \n      input[type=\"text\"],\n      input[type=\"button\"] {\n        border: 0;\n        color: #fff;\n      }\n    \n      input[type=\"text\"] {\n        background-color: #146EA8;\n        padding: 3px 10px;\n      }\n    \n      input[type=\"button\"] {\n        background-color: #f39c12;\n        border-right: 2px solid #e67e22;\n        border-bottom: 2px solid #e67e22;\n        min-width: 70px;\n        display: inline-block;\n      }\n    \n      input[type=\"button\"]:hover {\n        background-color: #e67e22;\n        border-right: 2px solid #f39c12;\n        border-bottom: 2px solid #f39c12;\n        cursor: pointer;\n      }\n    \n      .system,\n      .username {\n        color: #aaa;\n        font-style: italic;\n        font-family: monospace;\n        font-size: 16px;\n      }\n    \n      @media(max-width: 1000px) {\n        .content { width: 90%; }\n      }\n    \n      @media(max-width: 780px) {\n        #footer { height: 91px; }\n        #chat_box { padding-bottom: 91px; }\n    \n        #user { width: 100%; }\n        #message { width: 80%; }\n      }\n    \n      @media(max-width: 400px) {\n        #footer { height: 135px; }\n        #chat_box { padding-bottom: 135px; }\n    \n        #message { width: 100%; }\n        #send_btn {\n          position: relative;\n          margin-top: 3px;\n          width: 100%;\n        }\n      }\n    </style>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" onkeyup=\"enterMsg(event)\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>","x":344.15003967285156,"y":59.89999866485596,"wires":[["fa793d24.71c71"]]},{"id":"fa793d24.71c71","type":"http response","z":"f387e3e7.4de92","name":"","x":487.15003967285156,"y":59.89999866485596,"wires":[]},{"id":"7da394f0.4c72ac","type":"watson-conversation-v1","z":"f387e3e7.4de92","name":"","workspaceid":"bf569a58-d263-4451-9da4-0b69e83c19f3","multiuser":false,"context":true,"x":179.37503623962402,"y":361.5000247955322,"wires":[["d416d498.175f68","640affe2.95e89"]]},{"id":"8043ff12.f103c","type":"function","z":"f387e3e7.4de92","name":"Pre-Processing","func":"msg.payload = msg.payload.message;\nmsg.loadmsg = 0;\nreturn msg;","outputs":1,"noerr":0,"x":190.62506103515625,"y":296.2500696182251,"wires":[["7da394f0.4c72ac"]]},{"id":"640affe2.95e89","type":"function","z":"f387e3e7.4de92","name":"Post-Processing","func":"msg.payload = {\n    message: msg.payload.output.text[0],\n    user: \"System\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":183.12501907348633,"y":425.00000858306885,"wires":[["bd2e6e6.8bb379"]]},{"id":"72c769fd.aa0b28","type":"json","z":"f387e3e7.4de92","name":"","x":170.6250457763672,"y":239.7500228881836,"wires":[["8043ff12.f103c"]]},{"id":"bd2e6e6.8bb379","type":"delay","z":"f387e3e7.4de92","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":188.12505340576172,"y":500.25001096725464,"wires":[["e3d4f469.e9d0f8"]]},{"id":"d416d498.175f68","type":"debug","z":"f387e3e7.4de92","name":"","active":true,"console":"false","complete":"false","x":516,"y":478,"wires":[]},{"id":"4eecda72.e68e44","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"}]
